{% extends 'main.html' %}


{% block 'main' %}

    {% for item in user %}
        <div style="color: white; display: flex; flex-flow: column wrap; align-items: center; border-bottom: 1px solid white; background-color: rgb(53, 7, 223);">
            <div style="font-size: 2em; margin-top: 20px;">
                <a href="#" style="color: white ; text-decoration: none;">@{{item.user}}</a> <a href="{% url 'update' item.id %}" style="color: green; text-decoration: none;">Editar</a> <a href="{% url 'deleteView' item.id %}" style="color: red; text-decoration: none;">Deletar</a>
            </div>   
            <div>
                <textarea name="Text" id="" cols="35" rows="8" maxlength="100" style="color: blue; font-size: 1.5em; margin: 30px 0px 80px 0px;">
                    {{item.text}}
                </textarea>
            </div>
        </div>
        <hr>
    {% endfor %}
{% endblock 'main' %}